

body {
	background: orange;
}
@font-face {
    font-family: HuskyStash-Regular;
    src: url(HuskyStash-Regular.otf);
 }

#background{
	position: fixed;
	z-index: -100;
	margin-top: -100px;
	margin-left: -10px;
	opacity: .70;
}

#containter{
	width: 1500px;
	height: 2000px;
}

h1{
	font-family: HuskyStash-Regular;
	font-size: 70px;
	color: white;
	position: left;
	text-align: center;
	z-index: 1;

}

h3 {

	font-family: HuskyStash-Regular;
	font-size: 50px;
	color: white;
	position: left; 
	text-align: center;
	z-index: 1;

}

a{
	text-decoration: none;
	color: blue;
}

a:hover { 
    background-color: pink;


