/* This is the animation code. */
@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

body{
   background: black;
}

.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 0s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   font-family: helvetica;
   font-size: 400px;
   margin-left: 200px;
   margin-top: 200px;
   height: 1000px;
   width: 1000px;
  color: #0000ff;
  



   animation-iteration-count: infinite;
   }

   .colorbox2 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 0s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   font-family: helvetica;
   font-size: 800px;
   margin-left: 700px;
   margin-top: 700px;
   height: 1000px;
   width: 1000px;
  color: yellow;
  opacity: .4;
  



   animation-iteration-count: infinite;
   }